template(name='Home')
  if currentUser
    .row
      .col.m6
        #home
          #ratingheader
            h4(class='nycColorFont') {{applicant.first}} {{applicant.last}}
            table
              thead
                th(style='width:25%') ID: {{applicant._id}}
                //- th(style='width:25%') Gpa: {{applicant.curdegree}}
                //- th(style='width:25%') PreGpa: {{applicant.predegree}}
                th(style='width:25%') Votes: {{numberOfVotes}}
            p(style="padding-left: 10px; padding-right: 10px")
              h5 Origin (if present): {{applicant.origin}}
            p(style="padding-left: 10px; padding-right: 10px")
              h5 Stipend Reason (if present): {{applicant.reason}}
            p(style="padding-left: 10px; padding-right: 10px")
              h5 LinkedIn (if present): {{applicant.linkedin}}
            p(style="padding-left: 10px; padding-right: 10px")
              h5 CV File: <a href="/pdf/{{applicant.cv}}" target="_blank">Open in a new tab</a>
            //- table
            //-   thead
            //-     th(style='width:50%') GPA
            //-     th(style='width:50%') GRADESYSTEM
            //-   tbody
            //-     th(style='width:50%')
            //-       input(type="text" id='gpa' placeholder="")
            //-     th(style='width:50%')
            //-       select(id='gradeSystem' style="margin-bottom:15px")
            //-         option GPA (4-0)
            //-         option GPA (5-0)
            //-         option Percentile (non UK)
            //-         option Letter Grade
            //-         option German
            //-         option French
            //-         option UK
            //-         option unknown
            input(type="checkbox" class="filled-in" id="checkbox1")
            label(for="checkbox1") {{settings 'checkbox1' 'label'}}
            br
            input(type="checkbox" class="filled-in" id="checkbox2")
            label(for="checkbox2") {{settings 'checkbox2' 'label'}}
            br
            input(type="checkbox" class="filled-in" id="checkbox3")
            label(for="checkbox3") {{settings 'checkbox3' 'label'}}
            table
              thead
                th(style='width:25%') {{settings 'softFact1' 'label'}}
                th(style='width:25%') {{settings 'softFact2' 'label'}}
                th(style='width:25%') {{settings 'softFact3' 'label'}}
              tbody
                th(style='width:25%')
                  input(type="text" id='softFact1' placeholder="{{humanReadableBounds 'softFact1'}}")
                th(style='width:25%')
                  input(type="text" id='softFact2' placeholder="{{humanReadableBounds 'softFact2'}}")
                th(style='width:25%')
                  input(type="text" id='softFact3' placeholder="{{humanReadableBounds 'softFact3'}}")
          #ratingremarks
            h5 Remarks:
            textarea(id="remarks" style="height:100%")
            label(for="remarks")
          #ratingfooter
            table
              thead
                th(style='width:20%')
                  a(id="submit" name="{{applicant._id}}" class="waves-effect waves-light btn" style="width:100%") Submit
                th(style='width:20%')
                  a(id="trash" name="{{applicant._id}}" class="waves-effect waves-light btn" style="width:100%; background-color: red !important") Trash
                th(style='width:20%')
                  if isUserFlagged
                    a(id="unflag" name="{{applicant._id}}" class="waves-effect waves-light btn" style="width:100%; background-color: darkgreen !important") Unflag
                  else
                    a(id="flag" name="{{applicant._id}}" class="waves-effect waves-light btn" style="width:100%; background-color: orange !important") Flag
                th(style='width:20%')
                  a(id="skip" name="{{applicant._id}}" class="waves-effect waves-light btn" style="width:100%") Skip
      .col.m6
        object#pdf_content(width='800', height='auto', type='application/pdf', data='/pdf/{{applicant.cv}}')
          p Your browser is not able to print PDF Pages. Please download a PDF Plugin.
  else
    #home
      h3 Log in
