template(name='Login')
  #loginWrapper
    #loginWindow  
      br
      h3 Login Stuff
      form(method="get", action="")
        input(type="text",id="email", autofocus)
        input(type="password",id="password")
        input(type="submit", style="font-size:2em", class='waves-effect waves-light btn', id='loginUser', value="Login")
